body {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 80%;
  margin: auto;
  background-color: #E2E2E2;
}
h3 {
  line-height: 0.2;
}
.wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0px;
  padding: 10px;
}
#my-pic {
  width: 50%; 
}
.work-pics > img {
  grid-template-rows: 1fr 1fr;
  width: 33%;
}
.social-media {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.fa {
padding: 5px;
font-size: 25px;
width: 50px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
.fa-snapchat-ghost {
background: #fffc00;
color: white;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
} 